#container {
            width: 100%;
            height: 100%;
            position: absolute;
            left: 0px;
            top: 0px;
        }
body { 
				margin: 1px;
				padding: 0px;
				font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
				background-image: url(flor.jpg);
				background-repeat: no-repeat;
				color: #bbbbbb;
			}
#starfield {
    width:100%;
    height:100%;
    z-index: -1;
    position: absolute;
    left: 0px;
    top: 0px;
}